*{
    font-size: 24px;
    justify-content: center;
}


body{
    display: flex;
    flex-direction: row;
}

.container{
    margin-top: 100px;
    max-width: 500px;
    background-color: black;
    border-radius: 5px;
    border-color: black;
    border: solid;
}

.display{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px;
    color: white;
}

.first, .second, .third, .fourth, .fifth{
    display: flex;
}

button{
    display: flex;
    justify-content: center;
    margin: 1px;
    border: none;
    min-width: 60px;
}

.equalSign{
    display: flex;
    flex-grow: 2;
    background-color: pink;
}

.decimalPoint, .reset, .delete, .plusMinus{
    background-color: rgb(173, 173, 255);
}

.number{
    background-color: rgb(155, 215, 138);

}

.yellowBackground{
    background-color: rgb(255, 255, 168);
}

.operatorClicked{
    background-color: rgb(255, 255, 0);
}